:root {
  --yangColor: #d8c21e;
  --yinColor: #111111;
  --backgroundColor: #242424;
  --shadow: 2px 2px 2px rgba(0, 0, 0, .8),
            -2px -2px 2px rgb(216, 194, 30, 1);
  --shadowInset: inset 2px 2px 2px rgba(0, 0, 0, .8),
                inset -2px -2px 2px rgb(216, 194, 30, 1);
  --transition: 0.4s;
  --borderRadius: 40px;
}

html {
  font-size: 2vmin;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: var(--backgroundColor);
}

*, *::before, *::after {
  font-size: inherit;
  font-family: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.canvas {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--backgroundColor);
  font-size: 4em;
  text-shadow: var(--shadow);
  text-align: center;
  margin-bottom: 10px;
}

.bar-wrapper {
  display: flex;
  flex-direction: row;
}

.bar {
  position: relative;
  width: 40px;
  height: 200px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .8), var(--yangColor));
  box-shadow: 5px 5px 5px rgba(216, 194, 30, .9),
              -5px -5px 5px rgba(17, 17, 17),
              inset -5px -5px 5px rgba(216, 194, 30, .5),
              inset 5px 5px 5px rgba(0, 0, 0, .8);
  border-radius: var(--borderRadius);
  margin: 20px;
  overflow: hidden;
}

.bar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, .05);
  border-radius: 50%;
  z-index: 10;
}

.bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: var(--borderRadius);
  box-shadow: 5px 5px 5px rgba(17, 17, 17),
              inset -5px -5px 5px rgba(0, 0, 0, .05),
              inset 5px 5px 5px rgba(216, 194, 30, .5);
  animation: animate 2.5s ease-in-out infinite;
  transform: translateY(160px);
  animation-delay: calc(-.5s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(160px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(160px);
  }
}